main.main
    .nav_main
        .nav_links
            a(href="#").nav_main_active Личные данные
            a(href="#") Заявки от клиента
        
    section.general
        article.article_left
            label(for='field1') Фамилия
            input#field1(type='text')
            
            label(for='field2') Имя
            input(type='text')
            
            label(for='field4') Дата рождения
            .field_birthday
                .birthday
                    select#field4.day
                        option(value="1") 1
                        option 2
                        option 3
                        option 4
                        option 5
                        option 6
                        option 7
                        option 8
                        option 9
                        option 10
                        option 11
                        option 12
                        option 13
                        option 14
                        option 15
                        option 16
                        option 17
                        option 18
                        option 19
                        option 20
                        option 21
                        option 22
                        option 23
                        option 24
                        option 25
                        option 26
                        option 27
                        option 28
                        option 29
                        option 30
                        option 31
                    span день
                    
                .birthday
                    select
                        option Январь
                        option Февраль
                        option Март
                        option Апрель
                        option Май
                        option Июнь
                        option Июль
                        option Август
                        option Сентябрь
                        option Октябрь
                        option Ноябрь
                        option Декабрь
                    span месяц
                    
                .birthday 
                    select.year
                        option 1978
                        option 1979
                        option 1980
                    span год

            
            label(for='field5')  Email
            input#field5(type='email')
            
            label(for='field2') Связанные контакты
            .linked_contacts
                input#field2(type='text' placeholder="проверить  телефон")
                a(href="#"): i.fa.fa-plus-circle(aria-hidden='true')
            .contacts_names
                span Моисей Дудаев
                span Наталья Орейро
            
            a.button_save(href="#") Сохранить
                img(src="images/angle.svg" title="" alt="")

        article.article_right
            
            label(for='field8') Телефон
            input.country_code(type="tel" placeholder="+380")
            input#field8.operator_code(type='tel')
            input.phone_number(type='tel')
            input.confirm_code(type='tel')
            span.social_icons
                a(href="#"): i.fa.fa-info-circle(aria-hidden='true')
                a(href="#"): i.fa.fa-plus-circle(aria-hidden='true')
                a(href="viber://chat?number=380999659908")
                    img(src="images/viber.svg" title="Viber" alt="Viber")
                a(href="tg://resolve?domain=jevo" )
                    img(src="images/telegram.svg" title="Telegram" alt="Telegram")
                a(href="whatsapp://send?phone=+120345678910").whatsapp
                    img(src="images/whatsapp.svg" title="WhatsApp" alt="WhatsApp")
                    
            label(for='field8')
            input.country_code(type="tel" placeholder="+380")
            input#field8.operator_code(type='tel')
            input.phone_number(type='tel')
            input.confirm_code(type='tel')
            span.social_icons
                a(href="#"): i.fa.fa-info-circle(aria-hidden='true')
                a(href="#"): i.fa.fa-plus-circle(aria-hidden='true')
                a(href="viber://chat?number=380999659908")
                    img(src="images/viber.svg" title="Viber" alt="Viber")
                a(href="tg://resolve?domain=jevo" )
                    img(src="images/telegram.svg" title="Telegram" alt="Telegram")
                a(href="whatsapp://send?phone=+120345678910").whatsapp
                    img(src="images/whatsapp.svg" title="WhatsApp" alt="WhatsApp")
            
            
            .menu1
              br#tab2
              a.active_tab(href='#tab1') Комментарий аккаунта (+6)
              a(href='#tab2') Комментарий сообщества (+4)
              .inside
                div A while back, we made a post about people who were perusing art galleries and museums and spontaneously stumbled upon their doppelganger, in fine art form. Perhaps inspired by this, Google have decided to add a feature to their Arts & Culture app that uses facial recognition technology to match your selfie with a famous portrait. The portraits are pulled from a database of celebrated works collected from over 1000 museums worldwide, so the chances of a half-decent match should be fairly high, shouldn’t they? Well now the results are in, and it’s fair to say that they are mixed, at best. This seems to part of the appeal however, as people have begun posting their hilarious (mis)matches online and they are proving to be wildly popular. You can see why! Sadly, the feature isn’t yet available outside of the U.S. so if you’re not stateside and would like to give it a try, you’ll have to be a little patient. In the meantime however, you can scroll down below and check out what others have been compared with. Don’t forget to vote for your favourite
                div вкладка 2
            
            
            
        
   
